doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")
        title Catch Mind
    body 
        .loginBox
            form#jsLogin
                input(placeholder="What's your name?", type="text")
        .gameContainer#jsGame
            .canvas__wrap
                .answer-board
                    span.answer-board__word.none#jsWord
                canvas.canvas#jsCanvas
                .canvas__controls.none#jsControls
                    button.canvas__controls__btn--save#jsSave Save
                    button.canvas__controls__btn--remove#jsRemove Remove
                    input(type="color").canvas__controls--color#jsColor
                    .canvas__controls__slider#jsStroke
                        .slider__rail
                            div(
                            aria-valuemin="1",
                            aria-valuemax="100",
                            aria-valuenow="1",
                            aria-orientation="vertical"
                            ).slider__handler

                form.chat__form#jsSendMsg
                    input(placeholder="Write a message", type="text")
                        
            .chat
                .player__board#jsPBoard
                ul.chat__messages#jsMessages
        .notification__container
        script.
            window.events = !{events}
        script(src="/socket.io/socket.io.js")
        script(defer src="scripts/main.js")